/* ------------------------------------------*/
/* ---------->>> Share Layout <<<-----------*/
/* ----------------------------------------*/

// "Copy this link" text
.info {
  text-align: center;
}

// Url Box Size
.full-width {
  width: 100%;
}

// Background
::ng-deep .mat-dialog-container {
  display: block;
  padding: 24px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  width: 100%;
  height: unset;
  min-height: inherit;
  max-height: inherit;
  border: 2px solid #5a451e;
  box-shadow: 0px 0px 0px 5px #171211;
  background: #171211;
  color: #fff;
}