<div class="content-overlay">
  <div class="content">
    <div class="img-wrap">
      <img class="char-img" [src]="artSrc" (error)="imgErrored()">
      <img *ngIf="character?.weaponEquipped?.imgName" class="weapon-img" [src]="character?.weaponEquipped?.imgName">
    </div>
   
    <div>{{ summon ? (character.name + '/' + summon.name) : character.name }}</div>
    <div>{{ (summon ? ((character | aiTypePipe) + '/' + (summon | aiTypePipe)) : (character | aiTypePipe))}} </div>
    <div *ngIf="character.chainsFrom && character.chainsTo">
      <img class="chain" [src]="character.chainsFrom | getStatusPath">
      <img class="chainTo" src="/assets/icons/chain.png">
      <img class="chain" [src]="character.chainsTo | getStatusPath">
    </div>
  </div>
</div>