<div class="content-overlay">
  <div class="content">
    <img class="char-img" [src]="artSrc" (error)="imgErrored()">
    <div>{{ summon ? (character.name + '/' + summon.name) : character.name }}</div>
    <div>{{ (summon ? ((character.aiType | _) + '/' + (summon.aiType | _)) : (character.aiType | _)) + ' ' + ('AI' | _)}} </div>
    <div *ngIf="character.chainsFrom && character.chainsTo">
      <img class="chain" [src]="character.chainsFrom | getStatusPath">
      <img class="chainTo" src="/assets/icons/chain.png">
      <img class="chain" [src]="character.chainsTo | getStatusPath">
    </div>
  </div>
</div>