.field {
  display: flex;
  flex-wrap: wrap;
  max-width: calc(45px * 4 + 20px);
  min-width: calc(45px * 4 + 20px);
  //margin-top: 10px;
  //padding: 10px;
  //border: 1px solid white;
}

.field > * {
  //flex: 1 0 calc(25% - 40px);
  flex-direction: column;
}

// Tiles
:host ::ng-deep .square{
  border: 2.5px solid #100C0B !important;
  background-color: #141312;
  border-radius: 10% !important;
  > .character-icon {
    border-radius: 10% !important;
  }

  > .class-icon {
    border-bottom-left-radius: 3px;
  }

  > .element-icon {
    border-bottom-right-radius: 3px;
  }

  > .summon-icon {
    border-top-right-radius: 3px;
  }
}