// "Info" and Topics text
.info {
  text-align: center;
}

// Width
.full-width {
  width: 100%;
}

// Subpoint
.sub-point {
  margin: 10px 10px 10px 0;
  padding-left: 5px;
  display: inline-block;
  border-left: 3px solid red;
}

// Background
::ng-deep .mat-dialog-container {
  display: block;
  padding: 24px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  width: 100%;
  height: unset;
  min-height: inherit;
  max-height: inherit;
  border: 2px solid #5a451e;
  box-shadow: 0px 0px 0px 5px #171211;
  background: #171211;
  
  /* link color */
  color: #fff;
  a {
    color: #fd836b;
  }
}