<div>
  <h2 class="info">{{ 'helpDialogTitle' | _ }}</h2>

  <h3 class="info">{{ 'helpDialogCharAiTypes' | _ }}</h3>
  <p>{{ 'helpDialogCharAiTypesDesc' | _ }}</p>
  <span class="sub-point">{{ ('Melee' | _ ) + ' ' + ('AI' | _) }}</span>
  <p>{{ 'helpDialogMeleeAiInfo' | _ }}</p>
  <span class="sub-point">{{ ('Ranged' | _ ) + ' ' + ('AI' | _) }}</span>
  <p>{{ 'helpDialogRangedAiInfo' | _ }}</p>
  <span class="sub-point">{{ ('Ally' | _ ) + ' ' + ('AI' | _) }}</span>
  <p>{{ 'helpDialogAllyAiInfo' | _ }}</p>
  <span class="sub-point">{{ ('Assassin' | _ ) + ' ' + ('AI' | _) }}</span>
  <p>{{ 'helpDialogAssassinAiInfo' | _ }}</p>

  <h3 class="info">{{ 'helpDialogOrderMatters' | _ }}</h3>
  <p>{{ 'helpDialogOrderMattersDesc' | _ }}</p>

  <h3 class="info">{{ 'helpDialogThingsToConsirer' | _ }}</h3>
  <p [outerHTML]="'helpDialogThingsToConsirerDesc' | _ "></p>
</div>
