<div>
  <h2 class="info">{{ 'helpDialogTitle' | _ }}</h2>

  <h3 class="info">{{ 'helpDialogCharAiTypes' | _ }}</h3>
  <p>{{ 'helpDialogCharAiTypesDesc' | _ }}</p>
  <span class="sub-point">{{ 'helpDialogMeleeAiInfo' | _ }}</span>
  <p>{{ 'helpDialogMeleeAiInfoDesc' | _ }}</p>
  <span class="sub-point">{{ 'helpDialogRangedAiInfo' | _ }}</span>
  <p>{{ 'helpDialogRangedAiInfoDesc' | _ }}</p>
  <span class="sub-point">{{ 'helpDialogAllyAiInfo' | _  }}</span>
  <p>{{ 'helpDialogAllyAiInfoDesc' | _ }}</p>
  <span class="sub-point">{{ 'helpDialogAssassinAiInfo' | _  }}</span>
  <p>{{ 'helpDialogAssassinAiInfoDesc' | _ }}</p>

  <h3 class="info">{{ 'helpDialogOrderMatters' | _ }}</h3>
  <p>{{ 'helpDialogOrderMattersDesc' | _ }}</p>

  <h3 class="info">{{ 'helpDialogThingsToConsirer' | _ }}</h3>
  <p [outerHTML]="'helpDialogThingsToConsirerDesc' | _ "></p>
</div>
