.calculator {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
}

.attackOrder {
  width: 300px;
}

.unitSettings {
  margin-top: 10px;
  > * {
    padding-bottom: 10px;
    display: block;
  }
}

a {
  color: #ce93d8;
  cursor: pointer;
  text-decoration: underline;
}

input[type="checkbox"] {
  position: relative;
  top: 2px;
}

.actions {
  float: right;
}

.actions > * {
  padding-right: 5px;
  padding-left: 10px;
}

h3 {
  padding-top: 10px;
}

.user-hint {
  max-width: 200px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: right;
  padding: 0 10px 10px 10px;
}

.footer > .help-me-link {
  padding-right: 30px;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #ce93d8 !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #ce93d8 !important;
}

.attack-order {
  padding-right: 15px;
}

.field {
  width: 656px;
  height: 240px;
  display: flex;
  padding: 10px;
  padding-bottom: 7px;
  margin-top: 10px;
  border: 1px solid white;

  > img {
    height: 233px;
    margin-top: 0px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
}