<div class="calculator">
  <div>
    <h2>{{ 'appTitle' | _ }}</h2>
    <div class="lang-switcher">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'language' | _ }}</mat-label>
        <mat-select [formControl]="langControl">
          <mat-option *ngFor="let lang of langList" [value]="lang">
            {{lang}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <a href="https://discord.gg/ghFPrvAnXt" target="_blank">{{ 'discordInviteTitle' | _ }}</a>
    <span class="actions">
      <a>{{ 'allyLineToggle' | _ }}</a><input type="checkbox" [(ngModel)]="showAllyLinesChecked" (change)="calculateEvents()">
      <a>{{ 'enemyLineToggle' | _ }}</a><input type="checkbox" [(ngModel)]="showEnemyLinesChecked" (change)="calculateEvents()">
      <a (click)="reset()">{{ 'tableResetBtnTitle' | _ }}</a>
    </span>
    <app-field
      [matrix]="matrix"
    ></app-field>
  </div>
  <div>
    <h3>{{ 'orderTitle' | _ }}</h3>
    <div class="attackOrder">
      <ol>
        <li *ngFor="let event of events">{{ event }}</li>
      </ol>
    </div>
  </div>
  <div class="unitSettings">
    <h3>{{ 'partiesTitle' | _ }}</h3>
    <div class="user-hint">{{ 'partyHint' | _ }}</div>
    <app-party
      [party]="goodParty"
      title="{{ 'allyTeam' | _ }}"
    ></app-party>
    <app-party
      [party]="evilParty"
      title="{{ 'enemyTeam' | _ }}"
    ></app-party>
    <!-- Also move clear button next to the party, instead of clearing the whole thing -->
  </div>
  <div class="footer"><a class="help-me-link" href="https://ko-fi.com/wwworm" target="_blank">{{ 'supportLink' | _ }}</a></div>
</div>
