.calculator {
  padding-top: 20px;
  padding-left: 50px;
  display: flex;
  flex-wrap: wrap;
}

.bg-image {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: #303030;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.bg-image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px); /* apply the blur */
  pointer-events: none; /* make the overlay click-through */
}

.bg-solid {
  background-color: #303030;
}

.bg-library {
  background-image: url("/assets/backgrounds/library_noborder.png");
}

.bg-lava {
  background-image: url("/assets/backgrounds/Dungeon_Kingdom.jpeg");
}

.attack-order {
  width: 300px;
  margin-left: 10px;
}

.attackOrder {
  //background: rgba(209, 209, 214, 0.20);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  border-radius: 20px;
}

.unitSettings {
  margin-top: 10px;
  > * {
    padding-bottom: 10px;
    display: block;
  }
}

a {
  color: #ce93d8;
  cursor: pointer;
  text-decoration: underline;
}

input[type="checkbox"] {
  position: relative;
  top: 2px;
}

.actions {
  float: right;
}

.actions > * {
  padding-right: 5px;
  padding-left: 10px;
}

h3 {
  padding-top: 10px;
}

.user-hint {
  max-width: 200px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: right;
  padding: 0 10px 10px 10px;
}

.footer > .help-me-link {
  padding-right: 30px;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #ce93d8 !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #ce93d8 !important;
}

.attack-order {
  padding-right: 15px;
}

.field {
  width: 656px;
  height: 240px;
  display: flex;
  padding: 10px;
  padding-bottom: 5px;
  margin-top: 10px;
  border: 1px solid white;

  > img {
    height: 233px;
    margin-top: 0px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
}

.dropdown-options > *:not(:first-child) {
  padding-left: 15px;
}