<div class="calculator" [ngClass]="bgControl | getBgClass | async">
  <div class="bg-image"></div>
  <!-- Header -->
  <div class="header">
    <!-- Header/Left -->
    <div class="logo-wrap">
      <h2 class="app-title">{{ 'appTitle' | _ }}</h2>
      <div class="logo">
        <img src="/assets/logo.png" alt="Colosseum calculator for Guardian Tales logo" width=50 height=50>
      </div>
    </div>
     <!-- Header/Right -->
    <div class="dropdown-options">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'language' | _ }}</mat-label>
        <mat-select [formControl]="langControl">
          <mat-option *ngFor="let lang of langList" [value]="lang">
            {{lang}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'background' | _ }}</mat-label>
        <mat-select [formControl]="bgControl">
          <mat-option *ngFor="let bg of (backgroundList$ | async)" [value]="bg.code">
            {{ bg.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <!-- Body -->
  <div class="body">
    <div class="field-wrap">
      <!-- Body/Upper acctions -->
      <div class="actions-container">
        <span class="actions">
          <span>{{ 'allyLineToggle' | _ }}</span><input type="checkbox" [(ngModel)]="showAllyLinesChecked"
            (change)="calculateEvents()">
          <span>{{ 'enemyLineToggle' | _ }}</span><input type="checkbox" [(ngModel)]="showEnemyLinesChecked"
            (change)="calculateEvents()">
          <span>{{ 'showAttackOrder' | _ }}</span><input type="checkbox" [(ngModel)]="showAttackOrder" (change)="showAttackOrderClick()">
          <span>{{ 'useJPArt' | _ }}</span><input type="checkbox" [(ngModel)]="useJPArt" (change)="useJPArtClick()">
          <mat-icon class="share-btn" (click)="shareBtnClick()">{{shareIconName}}</mat-icon>
        </span>
      </div>
      <!-- Body/Fieled -->
      <div class="field">
        <app-field [doClears]="true" [matrix]="matrix | subMatrix : 'good'"></app-field>
        <span class="team-btn-container">
          <mat-icon class="save-btn" (click)="teamSelectService.addTeam(goodParty, false)">save</mat-icon>
          <mat-icon class="load-btn" (click)="loadTeam(false)">file_upload</mat-icon>
        </span>
        <img [src]="separatorImgSrc">
        <span class="team-btn-container-evil">
          <mat-icon class="save-btn" (click)="teamSelectService.addTeam(evilParty, true)">save</mat-icon>
          <mat-icon class="load-btn" (click)="loadTeam(true)">file_upload</mat-icon>
        </span>
        <app-field [matrix]="matrix | subMatrix : 'bad'"></app-field>
      </div>
      <!-- Body/Party Setting -->
      <div class="unit-settings">
        <div class="your-team">
          <app-party [party]="goodParty" title="{{ 'allyTeam' | _ }}"></app-party>
          <a (click)="resetParty('Good', 'goodParty')">{{ 'myTeamReset' | _ }}</a>
          <div><span>{{ 'teamRememberCheckBox' | _ }}</span><input type="checkbox" [(ngModel)]="rememberMyTeam"
            (change)="rememberMyTeamChecked()"></div>
        </div>
        <div class="user-hint">{{ 'partyHint' | _ }}</div>
        <div class="enemy-team">
          <app-party [party]="evilParty" title="{{ 'enemyTeam' | _ }}"></app-party>
          <a (click)="resetParty('Evil', 'evilParty')">{{ 'enemyTeamReset' | _ }}</a>
        </div>
      </div>
    </div>
    <!-- Body/Attack order -->
    <div class="attack-order" *ngIf="events && events.length">
      <app-attack-order
        [events]="events"
      ></app-attack-order>
    </div>
  </div>
  <!-- Footer -->
  <div class="footer">
    <!-- Footer/Image Links -->
    <div class="links">
      <img class="icon" (click)="helpBtnClick()" src="assets/icons/question_mark.png"
      alt="Colosseum calculator for Guardian Tales help icon" />
      <img class="icon" (click)="creditsBtnClick()" src="assets/icons/heart.png"
      alt="Colosseum calculator for Guardian Tales credits icon" />
      <a href="https://discord.gg/ghFPrvAnXt" target="_blank">
        <img src="assets/external_brand_icons/Discord-Logo-Color.png" class="icon">
      </a>
      <a href="https://ko-fi.com/wwworm" target="_blank">
        <img src="assets/external_brand_icons/Kofi_pixel_logo.png" class="icon">
      </a>
    </div>
  </div>
</div>