/* ------------------------------------*/
/* ---------->>> Header <<<-----------*/
/* ----------------------------------*/

// General
@media (max-width: 820px) {
  .app-title {
    display: none !important;
  }
}
@media (max-width: 440px) {
  .header {
    height: 130px !important;
  }
  .dropdown-options > *:not(:first-child) {
    display: block;
    padding-left: 0px !important;
  }
}
.header {
  width: 100%;
  height: 60px;
  position: relative;
  .logo-wrap {
    margin-left: 50px;
    display: inline-block;
  }
  .dropdown-options {
    position: absolute;
    display: inline-block;
    right: 20px;
  }
}

// Title
h2 {
    display: inline-block;
    font-size: 30px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Lilita One', cursive;
    color: #fff;
}

 //Logo
 .logo {
  display: inline-block;
  position: relative;
  bottom: -6px;
  margin-left: 5px;
  height: 50px;
  width: 50px;
}


/* ----------------------------------------------*/
/* ---------->>> Dropdown Options <<<-----------*/
/* --------------------------------------------*/

// [Buttons] Color
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 4px !important;
  padding: 0.75em 0.75em 0 0.75em;
  background-color: #3e2e2e;
  border: 1px solid #544141;
  box-shadow: 0px 0px 0px 2px #3e2e2e;
  display: inline-flex;
  align-items: baseline;
  box-sizing: border-box;
  width: 100%;
}

// [Buttons] Underline
::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before {
  background-color: transparent !important;
}

// [Buttons] Underline (Hover)
::ng-deep .mat-form-field-ripple {
  background-color: transparent !important;
}

// [Buttons] Select Title
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #ffcf11 !important;
}

// [Buttons] Arrow
::ng-deep .mat-select-arrow {
  color: #fff;
}

// [Buttons] Selected Arrow
::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: #ffcf11;
}

// [Dropdown] Background
::ng-deep .mat-select-panel {
  background: #3e2e2e;
  border: 1px solid #544141;
}

// [Dropdown] Option
::ng-deep .mat-select-panel .mat-option  {
  border-top: 0.1px solid #483938;
  border-bottom: 0.1px solid #483938;
}

// [Dropdown] Selected Option
::ng-deep .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background: #ffcf11;
  border: 1px solid #ffe413;
  border-bottom: 4px solid #bc761c;
}

// [Dropdown] Selected Option Text
::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: rgb(0, 0, 0) !important;
}

// [Dropdwon] Padding
.dropdown-options > *:not(:first-child) {
  padding-left: 15px;
}


/* ------------------------------------------*/
/* ---------->>> Attack Order <<<-----------*/
/* ----------------------------------------*/

// "Order of attacks" and "Parties" display
.calculator {
  padding-top: 20px;
  height: 95vh;
}

// "Order of attacks" and "Parties" Padding
h3 {
  padding-top: 10px;
}


/* -------------------------------------*/
/* ---------->>> Parties <<<-----------*/
/* -----------------------------------*/

// Checkboxes Position
input[type="checkbox"] {
  position: relative;
  top: 2px;
}

// Colored Texts
a {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}


/*-----------------------------------*/
/* ---------->>> Body <<<-----------*/
/* --------------------------------*/

// General
@media (max-width: 1300px) {
  .attack-order {
    // display: none !important;
    position: initial !important;
    margin: 0 auto !important;
    display: block !important;
    padding-top: 20px !important;
    width: fit-content !important;
  }
}
// @media (min-width: 1301px) and (max-width: 1500px) {
//   .attack-order {
//     width: 255px !important;
//   }
// }

@media (max-width: 1000px) {
  .body {
    margin-top: 10px !important;
  }
  .attack-order {
    top: 105px !important;
  }
}

@media (max-height: 690px) {
  .body {
    margin-top: 10px !important;
  }
  .attack-order {
    top: 105px !important;
  }
}

.body {
  width: 100%;
  margin-top: 80px;
  .field-wrap {
    width: 705px;
    margin: 0 auto;
  }

  // Attack Order
  .attack-order {
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 176px;
    padding-right: 15px;
    width: 350px;
    ol {
      padding-inline-start: 20px;
    }
  }

  // Team/Party Lists
  .unit-settings {
    margin-top: 17px;
    position: relative;

    // Ally Team List
    .your-team {
      display: inline-block;
      position: relative;
      left: 0px;
    }

    // "Click on the tiles" Text
    .user-hint {
      display: inline-block;
      text-align: center;
      position: absolute;
      left: 245px;
      max-width: 200px;
    }

    // Enemy Team List
    .enemy-team {
      display: inline-block;
      position: absolute;
      right: 0px;
    }
  }
}


/*-------------------------------------------*/
/* ---------->>> Battle Field <<<-----------*/
/* ----------------------------------------*/

// Grid
.field {
  width: fit-content;
  height: fit-content;
  // width: -webkit-fill-available;
  // width: -moz-available;
  // height: -moz-available;;
  //padding: 10px;
  //border: 1px solid white;
  display: flex;
  padding: 3px;
  background-color: #100C0B;
  box-shadow: 0px 0px 0px 1px #100C0B, 0px 0px 0px 3px #3F221A, 0px 0px 0px 9px #161110;
  border-radius: 3px;
  
  // Center Image
  > img {
    height: 249px;
    margin-top: 0px;
  }
}

// Options
.actions {
  float: left;
  padding-bottom: 10px;
  padding-left: 2px;
}
.actions > * {
  display: inline-block;
  margin-right: 8px;
}
.actions-container {
  max-width: 704px;
}

// Share Layout
.share-btn {
  cursor: pointer;
  top: 5px;
  position: relative;
  height: 20px;
  width: 20px;
}


/* ----------------------------------------*/
/* ---------->>> Background <<<-----------*/
/* --------------------------------------*/

// Invisible Background
.bg-image {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: #303030;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  @-moz-document url-prefix() {
    filter: blur(5px);
    transform: scale(1.1);
  }
}

// Blur Effect
.bg-image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* apply the blur */
  backdrop-filter: blur(5px);
  /* make the overlay click-through */
  pointer-events: none;
}

/* Background Options */

// Solid Background
.bg-solid {
  > .bg-image {
    background-color: #303030;
  }
}

// Library Background
.bg-library {
  > .bg-image {
    background-image: url("/assets/backgrounds/library.png");
  }
}

// Lava Background
.bg-lava {
  > .bg-image {
    background-image: url("/assets/backgrounds/lava.png");
  }
}

// Desert Background
.bg-desert {
  > .bg-image {
    background-image: url("/assets/backgrounds/desert.png");
  }
  /* change the text color */
  a {
    color: #283161;
  }
  color: #4a2a2a;
}

// Chess Background
.bg-chess {
  > .bg-image {
    background-image: url("/assets/backgrounds/chess.png");
  }
}

// Training Background
.bg-training {
  > .bg-image {
    background-image: url("/assets/backgrounds/training.png");
  }
}

// Dungeon Background
.bg-dungeon {
  > .bg-image {
    background-image: url("/assets/backgrounds/dungeon.png");
  }
}

// Snow Background
.bg-snow {
  > .bg-image {
    background-image: url("/assets/backgrounds/snow.png");
  }

  a {
    color: #283161;
  }
  h2 {
    color: #283161;
  }
  color: #4a2a2a;
}

// Kamazone Background
.bg-kamazone {
  > .bg-image {
    background-image: url("/assets/backgrounds/kamazone.png");
  }
  a {
    color: #fbfbfb;
  }
  h2 {
    color: #fbfbfb;
  }
  color: #fbfbfb; 
}

// Arena Background
.bg-arena {
  > .bg-image {
    background-image: url("/assets/backgrounds/arena.png");
  }
  a {
    color: #fbfbfb;
  }
  h2 {
    color: #fbfbfb;
  }
  color: #fbfbfb;
}


/* ------------------------------------*/
/* ---------->>> Footer <<<-----------*/
/* ----------------------------------*/

@media (max-height: 700px) {
  .footer{
    position: relative !important;
  }
}

// Footer
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 12px 0px 10px 0px;
  height: 60px;
}

// Icons (Help, Discord and Ko-fi)
.footer .links {
  padding-right: 30px;
  float: right;
}
.footer .icon {
  margin-left: 20px;
  height: 50px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  // Zoom Effect
  &:hover {
    transform: scale(1.3);
  }
}

:host ::ng-deep .square{
  position: relative !important;
}