<div>
  <span class="text-mode-toggle">{{ 'textMode' | _ }}</span><input type="checkbox" [(ngModel)]="textMode" (change)="textModeChecked()">
  <div *ngIf="textMode" class="text-event-order-wrap">
    <h3>{{ 'orderTitle' | _ }}</h3>
    <div class="text-attack-order">
      <ol>
        <li *ngFor="let event of textEvents">{{ event }}</li>
      </ol>
    </div>
  </div>
  <div *ngIf="!textMode" class="img-event-order-wrap">
    <h3>{{ 'orderTitle' | _ }}</h3>
    <div *ngFor="let event of imgEvents">
      <span class="attacker-wrap">
        <img *ngFor="let attacker of event.attackers; let i = index" [ngClass]="event | getCharIconClass : true" [src]="attacker.img" (error)="attacker.imgErrored()" [style]="i | getCharIconStyle : event.attackers.length">
      </span>
      <img class="action-icon" [src]="event.targetingImg">
      <img [ngClass]="event | getCharIconClass : false" [src]="event.defender.img" (error)="event.defender.imgErrored()">
    </div>
  </div>
</div>