<div>
  <div *ngIf="textMode">
    <h3>{{ 'orderTitle' | _ }}</h3>
    <div class="text-attack-order">
      <ol>
        <li *ngFor="let event of textEvents">{{ event }}</li>
      </ol>
    </div>
  </div>
  <div *ngIf="!textMode">
    <div *ngFor="let event of imgEvents">
      <img [ngClass]="event | getCharIconClass : true" [src]="event.attackerImg" (error)="imgErrored(event, 'attackerImg', event.attackerFallbackImg)">
      <img class="action-icon" [src]="event.targetingImg">
      <img [ngClass]="event | getCharIconClass : false" [src]="event.defenderImg" (error)="imgErrored(event, 'defenderImg', event.defenderFallbackImg)">
    </div>
  </div>
</div>