.text-attack-order {
  //background: rgba(209, 209, 214, 0.20);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  border-radius: 20px;
}

$char-size: 50px;
.char-icon {
  height: $char-size;
  width: $char-size;
  border-style: solid;
  border-width: 2px;
  border-radius: 30px;
}

.good-border {
  border-color: #68739d;
}

.evil-border {
  border-color: #bd4343;
}

$action-size: 25px;
.action-icon {
  height: $action-size;
  width: $action-size;
  padding: 10px;
}