<div
  class="square"
  [ngClass]="{disabled: tile?.disabled || disabled}"
  (click)="clicked()"
  richTooltip
  [character]="this.tile?.character"
  [summon]="summon"
>
  <!-- Show unit number in the corner -->
  <img *ngIf="tileBackground && !summon" [src]="tileBackground" [alt]="tile.character?.name" class="character-icon" (error)="imgErrored()">

  <img *ngIf="tileBackground && summon" [src]="tileBackground" [alt]="tile.character?.name" class="character-icon with-summon" (error)="imgErrored()">
  <img *ngIf="tileBackground && summon" [src]="tileSummonBackground" [alt]="summon?.name" class="character-icon summon" (error)="imgErrored()">

  <img *ngIf="tileLead" [src]="tileLead" class="lead-icon">
  <img *ngIf="tileElement" [src]="tileElement" class="element-icon">
  <img *ngIf="tileClass" [src]="tileClass" class="class-icon">
  <div *ngIf="!tile" class="text-value"><span>{{ textValue }}</span></div>
</div>