/* -------------------------------------*/
/* ---------->>> Squares <<<-----------*/
/* -----------------------------------*/

// Squares Border
.square {
  height: 45px;
  width: 45px;
  border: 1px solid #5a451e;
  display: grid;
  cursor: pointer;

  &:hover {
    .summon {
      display: initial;
      clip: rect(0, 50px, 50px, 0px);
      animation-name: summonReveal;
      animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
      animation-duration: 1.5s;
    }
  }
}

@keyframes summonReveal {
  from {
    clip: rect(0, 0px, 50px, 0);
  }
  to {
    clip: rect(0, 50px, 50px, 0px);
  }
}

// Square Disabled
.square.disabled {
  cursor: default;
}

// + Display
.text-value {
  display: grid;
  align-items: center;
}

/* ---------------------------------------*/
/* ---------->>> Portraits <<<-----------*/
/* -------------------------------------*/

// Portrait Adjustment
img {
  height: inherit;
  width: inherit;
}

// Generic Portrait
img:before {
  content: " ";
  display: block;
  background-size: contain;
  height: inherit;
  width: inherit;
  background-image: url(/assets/CharacterPortraits/Boy.png);
}

/* -----------------------------------*/
/* ---------->>> Icons <<<-----------*/
/* ---------------------------------*/

//.character-icon {
//}

// Lead
.lead-icon {
  position: absolute;
  height: 20px;
  width: 20px;
  margin-top: -8px;
  margin-left: -5px;
  z-index: 1;
}

// Class
.class-icon {
  position: absolute;
  margin-top: 35px;
  height: 10px;
  width: 10px;
  z-index: 1;
}

// Element
.element-icon {
  position: absolute;
  margin-top: 35px;
  margin-left: 35px;
  height: 10px;
  width: 10px;
  z-index: 1;
}

.summon-icon {
  position: absolute;
  margin-top: 0;
  margin-left: 35px;
  height: 10px;
  width: 10px;
  z-index: 1;
}

.with-summon {
  //clip: rect(0, 25px, 100px, 0);
  //position: absolute;
}

.summon {
  //clip: rect(0, 50px, 50px, 50px);
  display: none;
  position: absolute;
}
