.square {
  height: 45px;
  width: 45px;
  border: 1px solid white;
  display: grid;
  place-items: center center;
  cursor: pointer;
}

.square.disabled {
  cursor: default;
}

img {
  height: inherit;
  width: inherit;
}

img:before {
  content: ' ';
  display: block;
  background-size: contain;
  height: inherit;
  width: inherit;
  background-image: url(/assets/CharacterPortraits/Boy.png);
}