<div class="container">
  <h3>{{ 'dialogHeroSelectTitle' | _ }}</h3>
  <div class="actions">
    <mat-form-field>
      <mat-label>{{ 'dialogFilter' | _ }}</mat-label>
      <input
        #heroFilter
        matInput
        [formControl]="filterField"
      >
    </mat-form-field>
    <span>{{ 'dialogOnlyUniqueCheckbox' | _ }}</span><input type="checkbox" [(ngModel)]="onlyUniques" (change)="toggleRares()">
    <span>{{ 'dialogHeroSeparateByElement' | _ }}</span><input type="checkbox" [(ngModel)]="separateByElement" (change)="toggleRares()">
  </div>
  <div *ngIf="displayCharacters && displayCharacters.length && !separateByElement" class="hero-list">
    <span 
      *ngFor="let character of displayCharacters"
      (click)="heroSelected(character)"
    >
      <app-tile
        [tile]="character | characterToTile"
        [disabled]="true"
      >
      </app-tile>
    </span>
  </div>

  <div *ngIf="displayCharacters && displayCharacters.length && separateByElement" class="hero-list">
    <div
      *ngFor="let item of elements | keyvalue"
      class="elemental-char-list-wrap"
    >
      <div *ngIf="(displayCharacters | filterCharacters : item.key).length" class="elemental-char-list">
        <div class="element-row-icon">
          <img [src]="item.value">
        </div>
        <div class="element-row">
          <span
            *ngFor="let character of displayCharacters | filterCharacters : item.key"
            (click)="heroSelected(character)"
          >
            <app-tile
              [tile]="character | characterToTile"
              [disabled]="true"
            >
            </app-tile>
          </span>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="!displayCharacters || !displayCharacters.length">
    <h3>{{ 'dialogNothingFound' | _ }}</h3>
  </div>
  <span class="enter-hint">{{ 'dialogHint' | _ }}</span>
</div>