<div class="container">
  <h3>{{ 'dialogHeroSelectTitle' | _ }}</h3>
  <div class="actions">
    <mat-form-field>
      <mat-label>{{ 'dialogFilter' | _ }}</mat-label>
      <input
        #heroFilter
        matInput
        [formControl]="filterField"
      >
    </mat-form-field>
    <span>{{ 'dialogOnlyUniqueCheckbox' | _ }}</span><input type="checkbox" [(ngModel)]="onlyUniques" (change)="toggleRares()">
  </div>
  <div *ngIf="displayCharacters && displayCharacters.length" class="hero-list">
    <img *ngFor="let character of displayCharacters" [src]="character.imgName" [src]="character.imgName" [alt]="character.name" (click)="heroSelected(character)" [title]="character.name">
  </div>
  <div *ngIf="!displayCharacters || !displayCharacters.length">
    <h3>{{ 'dialogNothingFound' | _ }}</h3>
  </div>
  <span class="enter-hint">{{ 'dialogHint' | _ }}</span>
</div>