/* -----------------------------------*/
/* ---------->>> Texts <<<-----------*/
/* ---------------------------------*/

// "Select" and "Press Enter" Text
.container {
  text-align: center;
}

// "Filter" Text
:host mat-label {
  color: #fff !important;
}

// Search Align
.actions {
  text-align: left;
  margin-top: -20px;
  margin-bottom: 15px;
}

// "Press Enter" Text
.enter-hint {
  text-align: right;
  font-size: 11px;
}

// Colored Texts
span {
  color: #ce93d8;
}


/* ---------------------------------------*/
/* ---------->>> Hero List <<<-----------*/
/* -------------------------------------*/

// Display
.hero-list {
  display: flex;
  flex-wrap: wrap;
}

// Squares Border
:host ::ng-deep .square {
  height: 50px !important;
  width: 50px !important;
  cursor: pointer !important;
  border: 1px solid #544141;
  background: #3e2e2e !important;
}

// Portraits
:host ::ng-deep .character-icon {
  height: 50px;
  width: 50px;
}

// Class
:host ::ng-deep .class-icon {
  margin-top: -10px !important;
  position: relative !important;
}

// Element
:host ::ng-deep .element-icon {
  margin-top: -10px !important;
  margin-left: 40px !important;
  position: relative !important;
}

:host ::ng-deep .summon-icon {
  margin-top: -50px !important;
  margin-left: 40px !important;
  position: relative !important;
}

.elemental-char-list-wrap {
}

.elemental-char-list {
  padding-bottom: 10px;
  display: flex;
}

.element-row {
  display: flex;
  flex-wrap: wrap;
}

.element-row-icon {
  display: inline-block;
  margin-right: 10px;
  > img {
    height: 45px;
    width: 45px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}


/* -----------------------------------------------*/
/* ---------->>> Window Background <<<-----------*/
/* ---------------------------------------------*/

// Background
::ng-deep .mat-dialog-container {
  display: block;
  padding: 24px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  width: 100%;
  height: unset;
  min-height: inherit;
  max-height: inherit;
  border: 2px solid #5a451e;
  box-shadow: 0px 0px 0px 5px #171211;
  //box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
  background: #171211;
  color: #fff;
}


/* -----------------------------------------*/
/* ---------->>> Other Stuff <<<-----------*/
/* ---------------------------------------*/

// Checkbox Margin
.actions > * {
  margin-right: 10px;
}