/* -------------------------------------------*/
/* ---------->>> Global Styles <<<-----------*/
/* -----------------------------------------*/

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: hsla(0, 0%, 100%, 0.7);
  img {
    /* Prevent the drag of tiles and other images */
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}


/* ----------------------------------------*/
/* ---------->>> Scrollbars <<<-----------*/
/* --------------------------------------*/

/* Ps: Only works on webkit browsers, Firefox and Internet Explorer sucks xD */

// Scrollbar size
::-webkit-scrollbar {
  width: 8px;
}

// Track
::-webkit-scrollbar-track {
  background: #4C483D;
  border-radius: 5px;
}

// Handle
::-webkit-scrollbar-thumb {
  background: #BFB0A8;
  border-radius: 5px;
}

// Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: #AD9F98;
  border-radius: 5px;
}